{% extends 'portfolio/base.html' %}
{% block content %}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">Julius <span class="text-primary">Arroyo</span></h1>
        <div class="subheading mb-5">Zone 1, Sta. Justina West · Buhi, Cam. Sur 4433 · +63 919 997 5765 · <a href="mailto:jcba003@gmail.com">jcba003@gmail.com</a></div>
        <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.facebook.com/juliuschristopherarroyo"><i class="fab fa-facebook-f"></i></a><a class="social-icon" href="https://www.linkedin.com/in/julius-christopher-arroyo-25137b122/"><i class="fab fa-linkedin-in"></i></a><a class="social-icon" href="https://github.com/darkspook"><i class="fab fa-github"></i></a><a class="social-icon" href="https://www.strava.com/athletes/3484685"><i class="fab fa-strava"></i></a><a class="social-icon" href="https://www.plotaroute.com/userprofile/70250"><i class="fa fa-map-marker"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock %}

